<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="logs-path" value="${basedir}/log" />

  <variable name="file-layout" value="${longdate}
${assembly-version}
${processid:padding=6}+${threadid:padding=-2}
${level:padding=-5}
${logger:padding=25:shortName=true}
${message} ${onexception:${newline}${exception:format=tostring:flattenexception=false}}"/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" queueLimit="50000"/>
    <default-target-parameters xsi:type="File" concurrentWrites="true" keepFileOpen="true"/>

    <target name="file" xsi:type="File"
            fileName="${logs-path}/${machinename}.${processname}.${shortdate}.log"
            header="${newline}${longdate} ************** ${processname} started **************${newline}"
            footer="${newline}${longdate} ************** ${processname} closed **************${newline}"
            layout="${file-layout}"/>

    <target name="console" xsi:type="ColoredConsole" layout="${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White"/>
      <highlight-row condition="level == LogLevel.Warning" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red"/>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>